@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Source+Code+Pro:wght@300;400;500&display=swap');
a {
    color: #333;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    color: #333;
    background-color: #fff;
}
